<!-- <app-navbar></app-navbar> -->
<div class= "quiz-page">

  <h3 *ngIf = "!showQuizSection">You have already completed the allowed Attempts.
    <a [routerLink]="['/form']" [routerLinkActive]="['router-link-active']" class="list-group-item">Home!</a>
  </h3>
    <div *ngIf = "showQuizSection && quizservice.qns && quizservice.timeAllocated > quizservice.seconds">
        <div>
            <!-- <div class="col-md-6"></div> -->
            <div>
              <h4>Time Left: {{this.quizservice.displayTimeElapsed()}} <button type="button" class="btn rounded-btn" (click) = "userClickSubmitAnswers()">Submit</button></h4>     
              
              <!-- <h3 class="TimerClk"></h3> -->
            </div>
        </div>

    </div>
    <br>
    <div *ngIf = "showQuizSection && quizservice.qns && quizservice.timeAllocated > quizservice.seconds">
        
      
      <!-- <br> -->
      <div class="progress">
        <!-- <div class="progress-bar" style="width: 70%"></div> -->
        <!-- <div class="progress-bar"></div>       -->

      <!-- <p>{{(quizservice.qns}}</p> -->
      <!-- <p>{{quizservice.qns.length}}</p> -->
        <!-- <p>Question Progress</p> -->
        <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%] = "ProgressBarAnsweredPct">
          <a class = "btn" (click) = "AnsweredBtn_Click()">Answered</a>
        </div>
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" [style.width.%] = "ProgressBarRevisitedPct">
          <a class = "btn" (click) = "RevisitBtn_Click()">Revisit</a>
        </div>
        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" [style.width.%] = "ProgressBarUnAnsweredPct">
          <a class = "btn" (click) = "UnAnsweredBtn_Click()">Not Answered</a>
        </div>
        <!-- <p>{{((quizservice.qnProgress+1)/quizservice.qns.length)*100}}</p> -->
        
        <!-- <p>{{quizservice.qns.length}} {{quizservice.qnProgress}}</p> -->
      </div>
      <!-- <br> -->
      <a class = "btn" style ="color: blue" (click)="ShowAll_Click()" [style.visibility] = ShowAllStyleVisibility>Show All</a>
      <!-- <br> -->
      <!-- <br> -->
    </div>

    <div class="card" *ngIf = "showQuizSection && quizservice.qns && quizservice.timeAllocated > quizservice.seconds">
      <!-- <div class="row"> -->
        <!-- <div class="col"></div> -->
        
      <div class="card bg-light" *ngIf = "quizservice.qns">
          <a class="btn float-sm-right" [style.color]=RevisitFlagStyleColor (click)="RevisitFlag_Click()">Flag for Revisit</a>
        <div class="card-body">
          <p  class="inputs_qns"> <b>{{quizservice.qnProgress+1}} .</b>  {{quizservice.qns[quizservice.qnProgress].QuestionDescr}} </p>
          <!-- <p></p> -->
          <div *ngIf ="quizservice.qns[quizservice.qnProgress].QuestionImagePath != null">
            <!-- <img [src]="http://localhost:4200/assets/Tiger.jpg"/> -->
            <!-- quizservice.rootURL +  -->
            <img [src]="quizservice.rootAPIURL + quizservice.qns[quizservice.qnProgress].QuestionImagePath" style="height: 100px; width: 200px"/>

            <!-- <p>{{quizservice.rootURL + quizservice.qns[quizservice.qnProgress].QuestionImagePath}}</p>
            <p>{{quizservice.qns[quizservice.qnProgress].QuestionImagePath}}</p> -->
          </div>  
          
        </div>
        <div>
          <div  *ngFor = "let optionsForQns of quizservice.qns[quizservice.qnProgress].Options; let i= index" >
            <div class="inputs">
              <input type="radio"   name="optradio" *ngIf ="optionsForQns != null" (click) = "ChosenOption(i)" 
                [checked] = "ChoosenOptionId !== null && (ChoosenOptionId) == i">{{optionsForQns}}
            </div>
              <!--      
            <li *ngIf ="optionsForQns != null" (click) = "ChooseOptions(quizservice.qns[quizservice.qnProgress].QuestionId, i)">
              {{optionsForQns}}
            </li> -->

          </div>

          <!-- <br>
          <a class="btn" style="color: blue">Clear Response</a> 
          <br>
          <a class="btn" style="color: blue">Revisit</a> -->

          
          <!-- <div class="card-body row "> -->
            <!-- <div class = "col-3"> </div> -->
            <!-- <div class = "col-md-6">
              <a class="btn" style="color: blue" (click)= "ClearResponse()">Clear Response</a> 
            </div> -->
            <!-- <div class = "col-md-6">
              <a class="btn" style="color: blue">Revisit</a>
            </div> -->
          <!-- </div> -->
      
        </div>

        </div>
      <!-- </div> -->
      
      <!-- <div class="card-body row"></div> -->
          <!-- <div class="col-md-4"></div> -->
          <div class="form-group">
                  <P class="form-content">
                          <button type="button" class="btn btn-primary" (click) = "PreviousQnClick()" [disabled]  ="!PreviousButtonEnable">Previous</button> &nbsp;
                          <button type="button" class="btn btn-primary"(click) = "NextQnClick()" [disabled] = "!NextButtonEnable">Next</button>
                  </P>
          </div>


        <!-- <div class = "col-3"> </div> -->
        <!-- <div class = "col-md-6">
          <button type="button" class="btn btn-primary active float-sm-right" (click) = "PreviousQnClick()" [disabled]  ="!PreviousButtonEnable">Previous</button>
        </div>
        <div class = "col-md-6">
          <button type="button" class="btn btn-primary active float-sm-left" (click) = "NextQnClick()" [disabled] = "!NextButtonEnable">Next</button>
        </div> -->
      <!-- <br> -->
      <!-- </div> -->
      <!-- <p>{{Answeroption}}</p> -->
      <!-- <p>{{this.quizservice.qns[this.quizservice.qnProgress].answer}}</p> -->
        
      <!-- <div>
      <img src = "/assets/Tiger.jpg"/>
      </div> -->
      <!-- <p>{{temp.value}}</p> -->
    </div>
</div>