<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Winners!</h4>
                    <!-- <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small> -->
                    <!-- </p> -->
                </div>
                <div class="timeline-body">
                    <p>Last time winners are:</p><br>
                    <h4>Mr. Augustine, Porur</h4>
                    <h4>Mr. Praveen, Porur</h4>
                    
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Next Quiz!</h4>
                </div>
                <div class="timeline-body">
                    <p>For the benefit of the subscribers we are working on the next quiz by August 2019. We will send notifications to the subscribers.</p>
                    <p>This time we have different prizes for the winners</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge success"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Results!</h4>
                </div>
                <div class="timeline-body">
                    <p>we had a very positive response from all teams as part of March Quiz. We had close to 1000 participants. We thank you all for your involvement.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Prayers!</h4>
                    </div>
                    <div class="timeline-body">
                        <p>we had a very positive response from all teams as part of March Quiz. We had close to 1000 participants. We thank you all for your involvement.</p>
                    </div>
                </div>
        </li>
        <!-- <li>
            <div class="timeline-badge success"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Prayers</h4>
                </div>
                <div class="timeline-body">
                    <p>Prayer worships are happening regularly.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                </div>
            </div>
        </li> -->
    </ul>
</div>
