<!-- *ngIf = "qnLanguageNumber == 2" -->
<!-- <p></p> -->
<div class="disclaimer-page" *ngIf = "qnLanguageNumber == 1">
    <div class="row alert alert-info">
      <!-- <div class="col-md-2"></div> -->
      <div>
          Glory be to the <strong>Lord</strong> Almighty!.
      </div>
        
    </div>
    <div class="form-group" >
        <div class="form-control">
            <!-- <div class="col-md-2"></div> -->
            <!-- <div class="col-md-8"> -->
                <h3>Instructions!</h3>
            <!-- </div> -->
              
        </div>
        <hr>
    </div>
    <div class = "row">
      <!-- <div class="col-md-2"></div> -->
      <div class = "inputs">
            <p>1. This test is limited to 10 minutes.</p>
            <!-- <p>2. மொத்த மதிப்பெண்கள் <strong>30</strong></p> -->
            <p>2. Please make sure you are connected to an uninterrupted internet and have enough charge on the device.</p>           
            <p>3. Avoid Answering phone calls/message during the test.</p>
            <p>4. Avoid accessing other Applications during the test. Be fearful to God when you write the test.</p>
            <p>5. After answering all questions you may click the Submit button.</p>
            <p>6. Please DON'T press the browser back button during the test progression.</p>
            <p>7. To pass this round you need a minimum of 35%. Scoring 35% or above will make you eligible for next round.</p>
            <p>8. All the very best!</p>
            <p>9. Glory be to the Lord Almighty!</p>

      </div>
      
    </div>
    <!-- <hr> -->
    <!-- <div class="form-group"> -->
        <!-- <div class="col-md-4"></div> -->
        <!-- <div class="col-md-4"> -->
                <p>
                        <button type="button" class="btn btn-primary" [routerLink]="['/form']">Cancel</button> &nbsp;
                        <button type="button" class="btn btn-primary" (click) = "startTheQuiz()">Start Quiz</button>
                </p>
        <!-- </div> -->
    <!-- </div> -->



    <!-- <div class="row">
        <div class="col-md-1">
            <button class="btn btn-primary">Cancel</button>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <button class="btn btn-primary" (click) = "startTheQuiz()">Start Quiz</button>
        </div>
      
    </div> -->
  
  </div>

  <div class="disclaimer-page" *ngIf = "qnLanguageNumber == 2">
      <div class="row alert alert-info form-group">
        <!-- <div class="col-md-2"></div> -->
        <div>
            <strong>கர்த்தருடைய</strong> நாமம் மட்டுமே மகிமைப்படட்டும்.
        </div>
          
      </div>
      <div class="form-group" >
          <div class="form-content">
              <!-- <div class="col-md-2"></div> -->
              <!-- <div class="col-md-8"> -->
                  <h3>அறிவுறுத்தல்கள்!</h3>
              <!-- </div> -->
                
            </div>
          <hr>
      </div>
      <div class = "row">
        <!-- <div class="col-md-2"></div> -->
        <div class = "inputs">
          <p>1.	தேர்வு 10 நிமிடங்கள் மட்டுமே நடைபெறும்.</p>
          <!-- <p>2. மொத்த மதிப்பெண்கள் <strong>30</strong></p> -->
          <p>2.	உங்கள் செல்போனில் தொடர் இணையவசதி இருக்க வேண்டும்.</p>
          <p>3.	உங்கள் செல்போனில் பேட்டரி இருப்பை உறுதிசெய்யவும்.</p>
          <p>4.	தேர்வுக்கு நடுவே செல்போன் அழைப்பு, குறுஞ்செய்தி போன்றவற்றை முற்றிலும் தவிர்க்கவும்.</p>
          <p>5.	தேர்வினுள் சென்ற பின் எந்த காரணத்தைக்  கொண்டும் தேர்வை விட்டு வெளியேறக்கூடாது.</p>
          <p>6.	எந்த காரணத்தைக்கொண்டும் தேர்வின் நடுவே வேதாகமத்தையோ, பைபிள் ஆப்பையோ, கூகுள் சர்ச்சையோ  வேறெந்த வெளி செயலியும் பயன்படுத்தாமல் கடவுள் பயத்தோடு எழுத வேண்டும்.</p>
          <p>7.	எந்த காரணத்தைக் கொண்டும் தேர்வின் நடுவே செல்போனின் Back பட்டனை அழுத்தக்கூடாது.</p>
          <p>8.	இத்தேர்வில் 35% மதிப்பெண் எடுப்போரே அடுத்த தேர்வுக்கு முன்னேற இயலும்.</p>
          <p>9.	தேர்வில் வெற்றிபெற வாழ்த்துக்கள்.</p>
          <p>10. கர்த்தருடைய நாமம் மட்டுமே மகிமைப்படட்டும்.</p>
        </div>
        
      </div>
      <hr>

      <P>
            <button type="button" class="btn btn-primary"  [routerLink]="['/form']">ரத்து</button> &nbsp;
            <button type="button" class="btn btn-primary" (click) = "startTheQuiz()">தொடங்கு</button>
      </P>
      <!-- <div class="row">
          <div class="col-md-1">
              <button class="btn btn-primary">ரத்து</button>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1">
              <button class="btn btn-primary" (click) = "startTheQuiz()">தொடங்கு</button>
          </div>
         -->
      </div>
    
    <!-- </div> -->


<!-- <div class="alert alert-success">
    <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert alert-info">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>
<div class="alert alert-warning">
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>
<div class="alert alert-danger">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div> -->